<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singsound.singsounddemo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.base.BaseCloudActivity" />
        <activity
            android:name=".activity.Word_OnlineCloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.base.BaseNativeActivity" />
        <activity
            android:name=".activity.Sentence_OnlineCloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Word_NativeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sentence_NativeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Choice_OnlineCloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Article_OnlineCloudActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuestionAnswer_OnlineCloudActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".NetWorkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>

    </application>

</manifest>